@use './variables' as *;

.hero{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/jumbotron.jpg');
}

.ms_card{

    .ms_image{
        height: 190px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ms_title{
        font-size: 13px;
    }
}

.ms_bg_cards{
    background-color: #1c1c1c;
    .ms_btn{
        margin-top: 45px;
        margin-bottom: 20px;
        padding: 10px 60px;
        background-color: $brand_primary;
        border: none;
        font-weight: 700;
    }
}
.ms_icon_section{
    background-color: $brand_primary;
    .ms_icon_image{
        height: 40px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .ms_title{
        font-size: 13px;
    }
}