
@use './variables' as *;

header{

   .ms_container{

    .ms_logo{
        height: 75px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    nav{

        
        ul{
            list-style: none;
            display:flex;
            gap: 10px;

           li{
            a{
                color: black;
                text-decoration: none;
                font-size: 14px;
            }
           }
        }
    }
   }
}